<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Hello World!</title>
        <script type="text/javascript">
          	function Save() {
              	document.getElementById("PageOfficeCtrl1").WebSave();
        	}


        </script>
        <script type="text/javascript">
         function AddSeal() {
			try{
        		  document.getElementById("PageOfficeCtrl1").ZoomSeal.AddSeal();
			}catch (e){ };
        	}
  		</script>
        <script>
            function Readerlll(){
                document.getElementById("PageOfficeCtrl1").WebReader();// 提交到服务器
            }
            function WebReader() {
                document.getElementById("PageOfficeCtrl1").WebReader();// 保存到服务器
            }
        </script>
        
    </head>
    <body>
        <h1 th:inline="text">XXX履历本</h1>
        
        <div style="width:1024px;height:768px;" th:utext="${pageoffice}"></div>
    </body>

</html>
