<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cj.demo.mapper.DemoMapper" >


  <insert id="addAdmin" parameterType="com.cj.common.entity.Admin">
    INSERT INTO admin (admin_name,admin_pass,admin_type)
    VALUES (#{adminName},#{adminPass},#{adminType})
  </insert>

  <insert id="addAdmin2" parameterType="com.cj.common.entity.Admin">
    INSERT INTO admin (admin_name,admin_pass,admin_type)
    VALUES (#{adminName},#{adminPass},#{adminType})
  </insert>



</mapper>